<div class="project">
    <img src="{{ include.project.icon | find_logo }}" alt="{{ include.project.name }} Logo" class="project__icon">
    <div class="project__title">
        {{ include.project.name }}
        {% if include.project.url contains "/projects/" %}
            {% include icons/info-solid.svg %}
        {% endif %}
    </div>
    <a href="{{ include.project.url }}" class="project__link"></a>
    <div class="project__description">{{ include.project.desc | markdownify }}</div>
</div>