{% comment %}
@param title: text for heading of this section
@param content: content of this heading, can be either html or a string
{% endcomment %}

<div class="section">
    <h1 class="section__heading">{{ include.title }}</h1>
    <div class="section__content">
        {{ include.content }}
    </div>
</div>