---
layout: master
title: Home
highlight: /
main_class: home
---

{% capture content_about %}
    <p>Hi, welcome to my website!</p>
{% endcapture %}

{% capture content_profiles %}
    <div class="profiles">
        {% for profile in site.data.profiles %}
            <a href="{{ profile.name }}" class="profile">{% include icons/{{ profile.icon }}.svg %} {{ profile.name }}</a>
        {% endfor %}
    </div>
{% endcapture %}

{% capture content_projects %}
    <p>Hi, welcome to my website!</p>
{% endcapture %}

{% include section.html title="About" content=content_about %}
{% include section.html title="My Profiles" content=content_profiles %}
{% include section.html title="Featured Projects" content=content_projects %}
