---
layout: master
title: My Projects
highlight: /projects
main_class: projects
---

{% capture content %}
    <p class="text-center">
        Here you can find all of my projects, both public and some private ones. This includes all kinds of projects: designs, websites, or just anything I find noteworthy.
    </p>
    <p class="text-center">
        All projects featuring a {% include icons/info-solid.svg %}-icon link to a page containing additional information about them. All others simply link to the place where you can find them.
    </p>
    <div class="projects-list">
        {% for project in site.data.projects %}
            {% include project.html project=project %}
        {% endfor %}
    </div>
{% endcapture %}
{% include section.html title="My Projects" content=content %}
