.footer {
	background-color: $primary-minus-10;
	margin-top: auto;
	@include flex-center-center;
	@include content-width;

	&__content {
		display: flex;
		gap: 24px;
	}
	&__item {
		gap: 4px;
		padding: 8px;
		@include color-muted;
		@include flex-center-center;
	}
}
