.header {
	position: sticky !important;
	top: 0px;
	z-index: 10 !important;
	@include flex-center-center;
}

.nav {
	display: flex;
	align-items: center;
    height: 52px;
	background-color: $primary-plus-10;
	@include content-width;

	&__item {
		display: grid;
		grid-template-rows: max-content 1fr max-content;
		align-items: center;
		gap: 2px 8px;
		padding: 0 8px;
		height: 100%;
		font-size: 20px;
		font-weight: 600;
		@include color-muted;

		&::after,
		&::before {
			content: "";
			height: 2px;
			width: 100%;
			background-color: transparent;
			grid-column-end: span 2;
		}
		&.active {
			color: $accent-blue;
			&:after {
				background-color: $accent-blue;
			}
		}
	}
}
