*:not(svg):not(path) {
	box-sizing: border-box;
}

:root {
	// make sure to also change the sass version
	--content-width: 1320px;
	--icon-size: 20px;
}

.icon {
	width: var(--icon-size);
	height: var(--icon-size);
    vertical-align: middle;
}

body {
	color: $text-colour;
	background-color: $primary;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	font-family: Inter;
	font-weight: 400;
	overflow-y: scroll;
	@include flex-center-center;
	flex-direction: column;
	gap: 8px;
	min-height: 100vh;
	> *:not(.slideshow) {
		z-index: 2;
		position: relative;
	}
}

main {
	@include content-width;
}

a,
a:visited {
	text-decoration: none;
}

a {
	color: $accent-blue;
    transition: 250ms color ease;
	&:hover {
		color: $accent-pink;
	}
}

p {
	margin: 0px;
}
