@mixin color-muted {
	color: $text-colour-muted;
	transition: ease color 250ms;
	&:hover {
		color: $text-colour;
	}
}

@mixin content-width {
	max-width: $content-width;
	width: $content-width;
}

@mixin flex-center-center {
	@include flex-center;
	justify-content: center;
}

@mixin flex-center {
	display: flex;
	align-items: center;
}
