@font-face {
    font-family: "Inter", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
}

// main body colours
$primary: #1f252e;
$primary-plus-10: #303a48;
$primary-plus-10-transparent: rgba(48, 58, 72, 0.9);
$primary-plus-20: #404d5f;
$primary-plus-30: #4e5d74;
$primary-minus-10: #1c2129;
$primary-minus-20: #191e25;
$background: #15191e;
$shadow: 0px 4px 11px rgba(0, 0, 0, 0.12);

//accent colours
$accent-pink: #ff00dc;
$accent-pink-dark: #d50099;

$accent-blue: #00cfe7;
$accent-blue-dark: #1babeb;

//font
$text-colour: rgba(255, 255, 255, 0.85);
$text-colour-muted: rgba(255, 255, 255, 0.5);
$font-size: 16px;

$shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

// generic
$red: #cc1e42;
$blue: #00c2ff;
$yellow: #f9a104;
$green: #0bee7c;

//other
$divider: rgba(255, 255, 255, 0.05);

// make sure to also check the pure css version
$content-width: var(--content-width);
