<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        {% if page.title %}
            <title>{{ page.title }}</title>
        {% else %}
            <title>{{ site.title }}</title>
        {% endif %}

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&amp;display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href={{ "/css/main.css" | timestamp }}/>
        <link rel="icon" href="{{ site.baseurl }}img/favicon/favicon.png" type="image/png"/>
    </head>

    <body>
        <!-- this script tag *should* prevent flash of unstyled content that sometimes happens on firefox -->
        <script>0</script>
        <header class="header">
            <nav class="nav">
                {% for entry in site.data.header %}
                    <a href="{{ entry.url }}" class="nav__item {%if page.highlight == entry.url %}active{% endif %}">{% include icons/{{ entry.icon }}.svg %}{{ entry.name }}</a>
                {% endfor %}
            </nav>
        </header>

        <main {% if page.main_class %}class="{{ page.main_class }}"{% endif %}>{{ content }}</main>

        <footer class="footer">
            <div class="footer__content">
                {% for item in site.data.footer %}
                    {% include footer__item.html item=item %}
                {% endfor %}
            </div>
        </footer>
    </body>
</html>
