.project {
	display: grid;
	grid-template-areas:
		"logo title"
		"logo desc";
	position: relative;
	grid-template-columns: max-content 1fr;
	grid-template-rows: max-content 1fr;
	row-gap: 4px;
	background-color: $primary-plus-20;
	border-radius: 8px 0 0 8px;
	transition: ease all 300ms;

	&:hover {
		background-color: $primary-plus-30;
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
	}
	&__icon {
		grid-area: logo;
		height: 60px;
		width: 60px;
		background-color: $background;
		border-radius: 8px;
	}
	&__title {
		grid-area: title;
		border-bottom: 1px solid $accent-blue;
		padding: 2px 4px;
		font-weight: 600;
        @include flex-center;
        justify-content: space-between;
	}
	&__description {
		grid-area: desc;
		padding: 0 4px; // should be same as row-gap
		min-height: max-content;
		color: $text-colour-muted;
		font-size: 14px;
		margin-bottom: 4px; // should be same as row-gap
		a {
            position: relative;
			z-index: 3;
		}
	}
}
