.section {
	background-color: $primary-plus-10;
	&__heading {
		font-size: 20px;
		font-weight: 400;
		background-color: $primary-plus-10;
		border-bottom: 1px solid $accent-blue;
        padding: 2px 8px;
	}
    &__content{
        width: 100%;
    }
}
